<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Артефакт 12884902159</title>
    <link rel="stylesheet" href="../css/main1.css">
    <link rel="stylesheet" href="../css/base.css">
</head>
<body>
    <div class="container">
        <div class="info">
            <h1>Артефакт 12884902159</h1>
            <p>Описание артефакта:</p>
            <ul>
                <li>Название: Древний амулет</li>
                <li>Материал: Серебро</li>
                <li>Возраст: 1500 лет</li>
                <li>Местонахождение: Сибирь, Россия</li>
            </ul>
            <p>Дополнительная информация:</p>
            <p>Этот амулет был найден в древнем кургане, расположенном в Сибири. Он имеет сложный орнамент и, вероятно, использовался в религиозных церемониях.</p>
        </div>
        <div class="image">
            <img src="../img/image.png" alt="Артефакт 12884902159">
            <canvas id="canvas" class="markup_area"></canvas>
            <canvas id="canvas_draw" class="markup_area"></canvas>
        </div>
    </div>
</body>
</html>